.bio-main {
  margin-top: 32px;
}

.bio-main__preview {
  margin-bottom: 25px;
  line-height: 1;
}

.bio-main__text {
  width: 600px;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 24px;
  text-align: center;
}

.bio-main__image {
  width: 60%;
}

.bio-main__image-first {
  display: block;
  width: 40%;
}